.wrapp {
  display: flex;
  .contentWrapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .contentContainer {
      padding: 0 20px 0 20px;
      border: 1px solid;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      background: aliceblue;
    }
  }
}